<!-- display registration form if user is not logged in -->
<!-- otherwise they get to create new posts as a registered user -->

<div class="create-a-post container">

    <!-- WORDS FINDER -->
          <div class="collapse-outer">
            <h3 class="collapse open">CLOSE X</h3>

            <div id="words-finder" class="collapse-content">
      
            <form id="words-finder-form">
                <div class='form-block display-flex justify-space-between query-builder form-group'>
                  
                    <h3>FIND WORDS:</h3>
                  
                    <select id='words-behavior' class='select'>
                      <option value='rel_trg'>about</option>
                      <option value='ml'>like</option>
                      <option value='rel_rhy'>rhyming with</option>
                    </select>
                  
                    <input type="text" id="words-subject" class="form-input" placeholder="subject" />          
                    <button id="find-words-btn" class="btn btn-submit">GO ></button>                 

                </div>
              </form>

                <div id="word-list-dynamic"></div>

            </div> <!-- end of #words-finder -->
          </div> <!-- end of .collapse-outer -->

          <div class="collapse-outer">
            <h3 class="collapse open">CLOSE X</h3> <!-- OTHER OPTION: OPEN + -->
            <div class="collapse-content">
          
              <div id="word-list-static">
                  <div id="static-fragments"></div> <!-- things like s, y, linebreak - these are highlighted and listed first -->
                  <div id="static-words"></div> <!-- basics like pronouns, conjunctions, conditionals, etc. -->
              </div>
          
            </div> <!-- end .collapse-content -->
          </div> <!-- end .collapse-outer -->

          <!-- POEM -->
          {{#if posts}} 
            {{#each posts as |post|}}
              <div id="poem-container">{{{post.description}}}</div>
            {{/each}}
          {{else}}
            <div id="poem-container" class="empty">click on word magnets to create your poem</div>
          {{/if}}
          
          <div id="help-buttons" class="text-right">
                <button class="btn floating col-3" data-func="start-over">START OVER</button>
          </div>

          {{#if posts}} 

            {{#each posts as |post|}}

                <form class='form update-a-post-form' data-id="{{post.id}}" data-func="update">
                  <div class='form-group display-flex justify-content-space-between'>
                    <input class='form-input' type='text' id='newpost-title' value="{{post.title}}" />
                    <button class='btn btn-submit floating' type='submit'>UPDATE POST</button>
                  </div>
                </form>

            {{/each}}

          {{else}}

                <form class="form create-a-post-form" data-func="save">
                  <div class='form-group display-flex justify-content-space-between'>
                    <input class='form-input' type='text' id='newpost-title' placeholder='title of your poem' />
                    <button class='btn btn-submit floating' type='submit'>SAVE</button>
                  </div>
                </form>

          {{/if}}

</div>